@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  max-width: 480px;
  &-form {
    margin-bottom: 20px;
  }
}